@import "fn";


*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
    font-size: 1.6em;
    line-height: 1.6;
    font-family: $onecssFontDefault;
}

* {
    margin: 0;
    padding: 0;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
    // .setTapColor();
}