// color
$onecssColorPrimary: #1AAD19;
$onecssColorWarn: #E64340;

// link
$onecssLinkColorDefault: #586C94;

// background
$onecssBgColorDefault: #EFEFF4;
$onecssBgColorActive: #ECECEC;

// line
$onecssLineColorLight: #E5E5E5;
$onecssLineColorDark: #BCBAB6;

// text
$onecssTextColorTitle: #000000;
$onecssTextColorTips: #B2B2B2;
$onecssTextColorWarn: $onecssColorWarn;
$onecssTextColorGray: #999999;
