
// font
$onecssFontEN:-apple-system-font,"Helvetica Neue";
$onecssFontCN:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
$onecssFontSans:sans-serif;
$onecssFontDefault:$onecssFontEN,$onecssFontSans;